<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>

<hader>
    <nav>
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/setting">Setting</a></li>
        </ul>
    </nav>
</hader>

<body>
    <div class="container-fluid">
    <h1><%= title %></h1>
        <div class="row">
            <div role="main" class="col-md-9">

            </div>
            <div role="sidebar" class="col-md-3">
                <aside>
                    <nav>
                        <div class="list-group">
                            <% for(var key in user_list) {%>
                                <% var user = user_list[key]; %>
                                    <a href="/setting/<%= user._id %>" class="list-group-item"><%= user.last_name %></a>
                            <% } %>
                        </div>
                    </nav>
                </aside>
            </div>
        </div>
    </div>
</body>
</html>