html,body {
    height: 100%;
}

.site-wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;    
}

#contents {
    padding-bottom:100px; /*フッターの高さと同じ*/   
}

footer {
    width: 100%;    
    height:100px;
    position:absolute;
    bottom:0;
    background: #212124;
}

.container-wrapper {
    margin: 5%;
}

.navbar-header {
    background-color: #242424;
}

.user {
    margin-top: 50px;
}

.out-user{
    -webkit-filter: grayscale(100%)  blur(3px);
}

.logo{
    margin-top: -22px;
}

figure {
	position: relative;
	width: 300px;
}
figure img {
	position: relative;
	z-index: 2;
}
figure h3,
figure p {
	position: absolute;
	bottom: 0;
	left: 10px;
	z-index: 1;
	opacity: 0;
	-webkit-transition: .3s;
	transition: .3s;
}
figure:hover h3 {
	bottom: -35px;
	opacity: 1;
}
figure:hover p {
	bottom: -58px;
	opacity: 1;
}


