body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #696969;
}

a {
  color: #00B7FF;
}

label.user-name {
    color: #32343C;
}

.inout_switch {
    margin: 10px;
}